@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the Superhero Database</h1>
        <p>This site serves as a crowdsourced community page.</p>
        <p>Lets create the most comprehensive list of superheroes around!</p>
    </div>

